[submodule "dep/catch2"]
	path = dep/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "dep/csv-parser"]
	path = dep/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "dep/args"]
	path = dep/args
	url = https://github.com/Taywee/args.git
